body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.linkred{
	color: #FF0000;
}
.menuesquerdo {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.menuesquerdo:link {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.menuesquerdo:visited {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.menuesquerdo:hover {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight:bold;
}
.menuesquerdo:active {
	font-family:Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.menufadein {
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=88);
}
.menu {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
.menu:link {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
.menu:visited {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
.menu:hover {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	font-weight:bold;
}
.menu:active {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration: none;
	font-weight:bold;
}
.menurodape {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #001237;
	text-decoration: none;
	font-weight:bold;
}
.menurodape:link {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #001237;
	text-decoration: none;
	font-weight:bold;
}
.menurodape:visited {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #001237;
	text-decoration: none;
	font-weight:bold;
}
.menurodape:hover {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #001237;
	text-decoration: underline;
	font-weight:bold;
}
.menurodape:active {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #0037AA;
	text-decoration: none;
	font-weight:bold;
}
.menuparceiros {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 14px;
	color: #2B5E91;
	text-decoration: none;
	font-weight:bold;
}
.menuparceiros:link {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 14px;
	color: #2B5E91;
	text-decoration: none;
	font-weight:bold;
}
.menuparceiros:visited {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 14px;
	color: #2B5E91;
	text-decoration: none;
	font-weight:bold;
}
.menuparceiros:hover {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 14px;
	color: #2B5E91;
	text-decoration: underline;
	font-weight:bold;
}
.menuparceiros:active {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 14px;
	color: #5F89FF;
	text-decoration: none;
	font-weight:bold;
}
.conteudo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.conteudo2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: solid 1px #808080;
}
.celula{
	padding: 5px 5px 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align:justify;
}
input{
	font-size:10px;
}
select{
	font-size:10px;
}
.titulosecao{
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	text-align:left;
}
.textonoazul{
	font-size:10px; font-family:'Lucida Sans Unicode', Verdana, Arial;
	vertical-align:top;
	text-align: left;
	color: #FFFFFF;
}
.fichaparceiro {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
.fichaparceiro:link {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
.fichaparceiro:visited {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
.fichaparceiro:hover {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	font-weight:bold;
}
.fichaparceiro:active {
	font-family: "Lucida Sans Unicode", Verdana, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
.label{
	text-align: right;
	color: #5383B3;
	font-weight: bold;
	font-size: 12px;
}
#fp {
	font-family: tahoma;
	font-size: 11px;
	visibility: visible;
}